{% extends "_base.html" %}
{% block content %}
<main class="w-full flex flex-col">
    <div class="flex items-center space-x-80">
        <button onclick="window.history.back()">
          <i
            class="fa fa-arrow-circle-o-left text-5xl"
            aria-hidden="true"
            style="color: #2163eb"
          ></i>
        </button>
        <h1 class="text-3xl font-bold">Meus Exercícios</h1>
      </div>
      <div class="grid grid-cols-3 items-center mt-10 gap-6 overflow-y-auto">
        {% if exercicios %}
          {% for exercicio in exercicios %}
            {% for exercicio_info in exercicio['exercises'] %}
          <div class="relative flex flex-col items-center">
              <h2 class="text-lg font-semibold absolute top-12 text-3xl font-bold bg-blue-600 px-4 py-2 text-white rounded-lg text-center max-w-96">{{ exercicio_info['exercise_details']['name'] }}</h2>
              <video src="{{ url_for('static', filename='exercise/' ~ exercicio_info['exercise_details']['video']) }}" autoplay loop muted class="w-[50rem] h-[30rem] shadow-md"></video>
              <div class="absolute bottom-2">
                <h3 class="font-bold text-xl">Comentário: </h3>
                <p>{{ exercicio_info['comment'].strip() }}</p>
              </div>
          </div>
            {% endfor %}
          {% endfor %}
      </div>
      {% else %}
        <h1 class="text-3xl font-semibold">Você não possui exercícios</h1>
      {% endif %}
</main>
{% endblock %}
