{% extends "_base.html" %}

{% block head %}
<title>ASA</title>
<!-- Link do Tailwind via CDN -->
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
<form class="grid grid-cols-2 gap-6 mt-2" method="GET">
<div class="w-screen h-[60%] flex">
    <div class="w-[80%] h-full p-6">
        <div class="w-full h-full flex flex-col gap-4">
            <h1 class="text-3xl font-bold">Meus pacientes</h1>
            <form action="{{ url_for('list_pacientes') }}" method="GET">
                <div class="flex gap-2 items-center w-full">
                    <input type="text" name="cpf" value="{{ cpf_filtro or '' }}" placeholder="Busque por CPF"
                        class="w-[30%] px-2 py-2 border-black border-b-2 outline-none focus:border-blue-500 transition-colors">
                        <button type="submit">
                            <i class="fa fa-search cursor-pointer" aria-hidden="true"></i>
                        </button>
                </div>
            </form>
        </div>
    </div>
</div>
</form>
<!-- Tabela com rolagem no conteúdo -->
<div class="overflow-y-auto max-h-[80%]">
    <table class="min-w-full mt-2 rounded-lg">
        <thead class="bg-gray-200 sticky top-0">
            <tr>
                <th class="text-left py-2 px-4">Nome</th>
                <th class="text-left py-2 px-4">CPF</th>
                <!-- <th class="text-left py-2 px-4">Data de Nascimento</th> -->
                <th class="text-left py-2 px-4">Gênero</th>
                <th class="text-left py-2 px-4">Telefone</th>
            </tr>
        </thead>
        <tbody>
            
            {% if pacientes %}
            {% for paciente in pacientes %}
            <tr class="border-t">
                <td class="text-left py-2 px-4">{{ paciente.name }}</td>
                <td class="text-left py-2 px-4">{{ paciente.cpf }}</td>
                <td class="text-left py-2 px-4">{{ paciente.gender }}</td>
                <td class="text-left py-2 px-4">{{ paciente.mobile }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <!-- Exibe uma mensagem se não houver pacientes -->
            <tr>
                <td colspan="5" class="text-center py-4">Nenhum paciente encontrado</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}